<a href="https://colab.research.google.com/github/sudheer-9496/PHYTHON_PRACTISE/blob/module1/Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##Accept input from user and store it in variable and print the value
a=input()
print(a)

hi
hi

In [ ]:
##Use of print statements and use of (.format )for printing different data types.

In [4]:
## Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output
a=int(input())
b=int(input())
sum=a+b
multi=a*b
div=a/b
sub=a-b
print(sum,multi,div,sub)

10
20
30 200 0.5 -10

In [5]:
##x Conversion of one unit to another (such as hours to minutes, miles to km and etc)
h=int(input())
m=int(input())
min=h*60
km=1.60934*m
print(min,km)

5
12
300 19.31208

In [ ]:
##Building a mathematical calculator that can perform operations according to user input.Use decision making statement.
n1=int(input())
n2=int(input())
if add :
  a+b

In [11]:
## Accepting 5 different subject marks from user and displaying the grade of the student
s1=int(input())
s2=int(input())
s3=int(input())
s4=int(input())
s5=int(input())
tot=(s1+s2+s3+s4+s5)/5
if tot > 90:
  print("A")
elif tot > 80 :
  print("B")
elif tot > 70 :
  print("C")
elif tot > 60 :
  print("D")    
elif tot > 50 :
  print("E")
elif tot > 40 :
  print("F")

112
20
90
9
62
E

In [18]:
##Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.
a=int(input())
b=int(input())
c=0
o=0
for x in range(a,b):
  if(x%2==0) :
    print(x)
    c=c+1
  elif(x%2!=0) :
    print(x)
    o=o+1
print(c)
print(o)

0
30
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
15
15