<a href="https://colab.research.google.com/github/sudheer-9496/PHYTHON_PRACTISE/blob/module1/26_04_22/ass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.To print odd no in given range

In [4]:
a=int(input())
b=int(input())
for i in range(a,b):
  if i%2!=0:
    print(i)

30
40
31
33
35
37
39

2.To print prime no in given range

In [24]:
def prime(a,b):
  for i in range(a,b):
    k=0
    for j in range(1,i):
      if i%j==0:
        k+=1
    if k==1:
      print(i)
prime(int(input()),int(input()))

1
10
2
3
5
7

3.TO PRINT no of days in a month

In [26]:
mon=int(input())
if mon==1 or mon==3 or mon==5 or mon==7 or mon==8 or mon==10 or mon==12:
  print("31") 
elif mon==4 or mon==6 or mon==9 or mon==8 or mon==11 : 
    print("30") 
elif mon==2: 
    print("28")    
else:
  print("not found")

13
not found

4.To print even length

In [28]:
word=str(input())
word=word.split(' ')
for a in word:
  if len(a)%2==0:
    print(a)

hello word
word

5.To print 1st and last capital

6.To convert multiple integers to single integers

In [48]:
a=[10,13,15,17]
for i in a:
  print(i,end="")

10131517